<div class="warehouse">
    <div class="form-group row">
      <label for="item" class="col-xs-2 col-form-label">Item</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" value="Microservices are great" id="item">
      </div>
    </div>
    <div class="form-group row">
      <label for="shelf" class="col-xs-2 col-form-label">Shelf</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" value="R3C4" id="shelf">
      </div>
    </div>
    <div class="form-group row">
      <label for="quantity" class="col-xs-2 col-form-label">Quantity</label>
      <div class="col-xs-10">
        <input class="form-control" type="number" value="1" id="quantity">
      </div>
    </div>
    <div class="form-group row">
      <label for="notify" class="col-xs-2 col-form-label">Notify</label>
      <div class="col-xs-10">
        <input class="form-control" type="email" value="user@example.com" id="notify">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Picking List</button>
</div>
