<form class="shipping form-inline">
  <div ng-show="name" class="alert alert-success" role="alert">
    {{name}} on {{host}} ({{operatingsystem}})
  </div>
  <button type="button" ng-click="getInfo()" class="btn btn-info">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
  </button>
  <p>
  <div class="form-group">
    <label for="method">Transportation method</label>
    <input type="text" class="form-control" id="method" placeholder="Delivery truck">
  </div>
  <div class="form-group">
    <label for="method">Pallets</label>
    <input type="number" class="form-control" id="method" value="8">
  </div>
  <div class="form-group">
    <label for="dueDate">Delivery Due</label>
    <input type="date" class="form-control" id="dueDate" value="2016-11-19">
  </div>
  <button type="submit" class="btn btn-primary">Request shipping</button>
</form>